/* line 3, ../sass/global.scss */
body {
  background-color: #2f2f2f;
}
/* line 10, ../sass/global.scss */
body #wrapper .groove {
  background: url("../images/handle_bg.png") no-repeat center center;
  height: 531px;
  width: 530px;
  overflow: hidden;
  margin: 0 auto;
}
/* line 17, ../sass/global.scss */
body #wrapper .groove .volUp {
  background: url("../images/volume_up.png") no-repeat center center;
  width: 79px;
  height: 66px;
  margin: 40px auto 0;
}
/* line 23, ../sass/global.scss */
body #wrapper .groove .volUp:active {
  background: url("../images/volume_up_press.png") no-repeat center center;
}
/* line 28, ../sass/global.scss */
body #wrapper .groove .midRow {
  clear: both;
}
/* line 31, ../sass/global.scss */
body #wrapper .groove .midRow .prev {
  background: url("../images/ch_prev.png") no-repeat center center;
  height: 68px;
  width: 60px;
  margin: 128px 0 0 52px;
  float: left;
}
/* line 38, ../sass/global.scss */
body #wrapper .groove .midRow .prev:active {
  background: url("../images/ch_prev_press.png") no-repeat center center;
}
/* line 43, ../sass/global.scss */
body #wrapper .groove .midRow .play {
  background: url("../images/center_ball.png") no-repeat center center;
  height: 218px;
  width: 218px;
  float: left;
  margin: 70px 0 0 45px;
}
/* line 50, ../sass/global.scss */
body #wrapper .groove .midRow .play:active {
  background: url("../images/center_ball_press.png") no-repeat center center;
}
/* line 55, ../sass/global.scss */
body #wrapper .groove .midRow .next {
  background: url("../images/ch_next.png") no-repeat center center;
  height: 68px;
  width: 60px;
  float: left;
  margin: 128px 0 0 29px;
}
/* line 62, ../sass/global.scss */
body #wrapper .groove .midRow .next:active {
  background: url("../images/ch_next_press.png") no-repeat center center;
}
/* line 68, ../sass/global.scss */
body #wrapper .groove .volDown {
  background: url("../images/volume_down.png") no-repeat center center;
  width: 48px;
  height: 66px;
  margin: 27px auto 0;
}
/* line 74, ../sass/global.scss */
body #wrapper .groove .volDown:active {
  background: url("../images/volume_down_press.png") no-repeat center center;
}
/* line 81, ../sass/global.scss */
body .clearfix:after {
  content: "";
  display: table;
  clear: both;
}
