/* line 3, ../sass/global.scss */
body {
  background-color: #2f2f2f;
}
/* line 6, ../sass/global.scss */
body #wrapper {
  border: 1px solid red;
}
/* line 9, ../sass/global.scss */
body #wrapper .groove {
  background: url("../images/handle_bg.png") no-repeat center center;
  height: 531px;
  width: 530px;
  overflow: hidden;
}
/* line 15, ../sass/global.scss */
body #wrapper .groove .volUp {
  background: url("../images/volume_up.png") no-repeat center center;
  width: 79px;
  height: 66px;
  margin: 40px auto 0;
}
/* line 22, ../sass/global.scss */
body #wrapper .groove .midRow {
  clear: both;
}
/* line 25, ../sass/global.scss */
body #wrapper .groove .midRow .prev {
  background: url("../images/ch_prev.png") no-repeat center center;
  height: 68px;
  width: 60px;
  margin: 128px 0 0 52px;
  float: left;
}
/* line 33, ../sass/global.scss */
body #wrapper .groove .midRow .play {
  background: url("../images/center_ball.png") no-repeat center center;
  height: 218px;
  width: 218px;
  float: left;
  margin: 70px 0 0 45px;
}
/* line 41, ../sass/global.scss */
body #wrapper .groove .midRow .next {
  background: url("../images/ch_next.png") no-repeat center center;
  height: 68px;
  width: 60px;
  float: left;
  margin: 128px 0 0 29px;
}
/* line 50, ../sass/global.scss */
body #wrapper .groove .volDown {
  background: url("../images/volume_down.png") no-repeat center center;
  width: 48px;
  height: 66px;
  margin: 27px auto 0;
}
/* line 59, ../sass/global.scss */
body .clearfix:after {
  content: "";
  display: table;
  clear: both;
}
